---
import { Tags } from '@/components/Tags';

// import type { CustomIFrontMatter } from '@/partials/BlogPost';
import { BlogPost } from '@/partials/BlogPost';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

import BottomSection from '../partials/BottomSection.astro';

export interface Props {
  content: any;
}

const { content } = Astro.props as Props;
const title = `${content.title} - ${AppConfig.site_name}`;
const projectsData = {
  "projects": [
    {
      "url": "https://github.com/dli-invest/conscrap",
      "author": "FriendlyUser",
      "name": "conscrap",
      "color": "GREEN"
    },
    {
      "url": "https://github.com/FriendlyUser/vuepress-theme-cool",
      "author": "FriendlyUser",
      "name": "vuepress-theme-cool",
      "color": "BLUE"
    },
    {
      "url": "https://github.com/dli-invest/finreddit",
      "author": "FriendlyUser",
      "name": "finreddit",
      "color": "BROWN"
    },
    {
      "url": "https://github.com/FriendlyUser/LatexDiagrams",
      "author": "FriendlyUser",
      "name": "LatexDiagrams",
      "color": "RED"
    },
      {
      "url": "https://github.com/FriendlyUser/cad_tickers",
      "author": "FriendlyUser",
      "name": "cad_tickers",
      "color": "ORANGE"
    }
  ]
}

const {projects = []} = content || {}
---

<Base head={{ title, description: content.description }}>
  <BlogPost frontmatter={content}>
    <slot />
    {
      projects?.length > 0 && (
        <h5>Related Projects</h5>
      )
    }
    {
      projectsData?.projects?.map((project) => {
        if (projects?.find((p) => p === project.name)) {
          return (
            <>
              <a href={project.url} style={{
                "text-decoration": "none",
                "width": "200px",
                "text-align": "center"
              }}>
                <h3>
                <Tags color={project.color as any}>
                  {project.name}
                </Tags>
              </h3>
              </a>
            </>
          );
        }
        return <></>;
      })
    }
  </BlogPost>

  <BottomSection />
</Base>
