---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, permalink, alt} = content;
---

<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href={'../styles/blog.css'} />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2479144310234386",
      enable_page_level_ads: true
    });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119155027-6"></script>
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper">
      <BlogPost title={title} author={author} heroImage={heroImage} publishDate={publishDate} alt={alt}>
        <slot />
      </BlogPost>
    </div>
  </body>
</html>

